<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Bison Cédric">

        <title>{% block title %}C&E AMBASSADORS{% endblock %}</title>

		{% stylesheets 'css/*' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        
        <link rel="icon" type="image/x-icon" href="{{ asset('logo.ico') }}" />
		
    </head>
    <body>
		{% block site_header %}

			<div class="container-fluid">
				<!-- Reseaux sociaux -->
				<div class="col-md-4">
					<img src="{{ asset('images/facebook.jpg') }}" alt="Facebook" height="50" width="50">
					<img src="{{ asset('images/facebook.jpg') }}" alt="Twitter" height="50" width="50">
					<img src="{{ asset('images/facebook.jpg') }}" alt="Pinterest" height="50" width="50">
					<img src="{{ asset('images/facebook.jpg') }}" alt="Instagram" height="50" width="50">
				</div>

				<!-- Logo C&E -->
				<div class="col-md-4" style="border= 1"><img src="{{ asset('images/logo.jpg') }}" alt="Logo C&E AMBASSADORS" class="img-responsive center-block"></div>

				<!-- Newsletter -->
				<div class="col-md-1"></div>
				<div class="col-md-3">
					<form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
							<p>
								<label for="email">Sign up for our C&E News
									<input type="email" class="form-control" id="email" placeholder="Email" />
								</label>
							</p>
                        </div> 
                    </form>
				</div>
			</div>
					
		{% endblock %}

		{% block barre_de_navigation %}
			
			<div class="container-fluid">				
				<div class="col-md-1"></div>
				<div class="col-md-1"></div>
				<div class="col-md-1">C&E NEWS</div>
				<div class="col-md-1">ABOUT US</div>
				<div class="col-md-1">SERVICES</div>
				<div class="col-md-1">PROJECTS</div>
				<div class="col-md-1">STYLE</div>
				<div class="col-md-1">LIFESTYLE</div>
				<div class="col-md-1">CONTACTS</div>
				<div class="col-md-1"></div>
				<div class="col-md-1"></div>
				<div class="col-md-1"></div>
			</div>

		{% endblock %}

        {% block body %}{% endblock %}
		
		{% block javascripts %}
			<script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
		{% endblock %}   
    </body>
</html>
